<div class="author">
  <img class="author-avatar" src="{{ site.author.avatar }}" alt="{{ site.author.username }}" />
  <h2 class="author-name">{{ site.author.name }} {% if site.author.alias and site.author.alias != "" %}
    (aka. {{ site.author.alias }}) {% endif %}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
  <div class="author-links">
    <a href="mailto:{{ site.author.email }}" class="author-link">
      <i class="fa-solid fa-envelope"></i>
      E-Mail
    </a>
    <a href="https://github.com/{{ site.author.github }}" class="author-link">
      <i class="fa-brands fa-github"></i>
      GitHub
    </a>
    <a href="https://scholar.google.com/citations?hl=en&user={{ site.author.google_scholar }}" class="author-link">
      <i class="fa-brands fa-google-scholar"></i>
      Google Scholar
    </a>
    <a href="https://www.youtube.com/@{{ site.author.username }}" class="author-link">
      <i class="fa-brands fa-youtube"></i>
      YouTube
    </a>
    <a href="https://scholar.google.com/citations?hl=en&user={{ site.author.google_scholar }}" class="author-link">
      <i class="fa-solid fa-file"></i>
      Short Résumé
    </a>
  </div>
</div>