<div class="author">
  <img class="author-avatar" src="{{ site.author.avatar }}" alt="{{ site.author.username }}" />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
  <div class="author-links">
    <span class="author-link">
      <i class="fa-solid fa-envelope"></i>
      <a href="mailto:{{ site.author.email }}">E-Mail</a>
    </span>
    <span class="author-link">
      <i class="fa-brands fa-github"></i>
      <a href="https://github.com/{{ site.author.github }}">GitHub</a>
    </span>
    <span class="author-link">
      <i class="fa-brands fa-google-scholar"></i>
      <a href="https://scholar.google.com/citations?hl=en&user={{ site.author.google_scholar }}">Google Scholar</a>
    </span>
    <span class="author-link">
      <i class="fa-brands fa-linkedin"></i>
      <a href="https://linkedin.com/in/{{ site.author.linkedin }}">LinkedIn</a>
    </span>
  </div>
</div>